.clear-fix::after{
  content:"";
  display: table;
  clear:both;
}

/* FONT */
body{
  font-family: 'Lato', sans-serif;
  color:#6E6E6E;
}

/* titoli sezioni */
h2{
  color:white;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

/* titoli central nav */
.central-nav-font{}

/* titoli canzoni */
h3, .h3-boldness{
  color:white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

/* nome playlist e sottotitolo canzoni*/
h4, .h4-boldness {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

/* scritte piccole e grige */
h5{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

h6{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/* ITEMS */
.add-playlist{
  height: 50px;
  width:50px;
  background-color: grey;
  border: 1px solid gray;
}

.circle{
  height:30px;
  width:30px;
  background-color: gray;
  border-radius:50%;
}

.dividiv{
  border:1px solid white;
  height:1px;
  width:100%;
}

.top-bar button{
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  background-color: #0D0F14;
  border:2px solid white;
  color: white;
  height:40px;
  width:230px;
  border-radius:30px;
  margin-top: 29px;
  margin:bottom:29px;
  float: right;
  margin-right: 20px;
  transition:transform 0.5s;
}

.song-bar{
  position: relative;
  width:100%;
  height:4px;
  background-color:#6E6E6E;
  border-radius: 6px;
}

.progress-bar{
  position:absolute;
  left:0;
  height:100%;
  width:15%;
  background-color:lightgray;
  border-radius: 6px;
}

.volume-bar{
  position: relative;
  width:50%;
  height:4px;
  background-color:#6E6E6E;
  border-radius: 6px;
}

/* BACKGROUNDS */

.BG_black{
  background-color: black;
}

.BG_darkgrey{
  background-color: #151921;
}

.BG_darkblue{
  background-color: rgba(0, 0, 0, 0.4);
  z-index:10;
}

.BG_gray{
  background-color: #282828;
}

/* LEFT-NAV CREATE-LIST:HOVER */
.left-nav-create:hover button{
  background-color: white;
}
.left-nav-create:hover h4{
  color:white;
}

.left-nav-main ul li{
  margin-top:20px;
}

/* LEFT-NAV LIST:HOVER */
.left-nav h4:hover,
.left-nav ul li:hover{
  color:lightgray;
}

/* TOP-BAR:HOVER */
.top-bar button:hover{
  transform: scale(1.2);
}

/* MAIN-NAV LIST:HOVER */

nav ul li:hover{
  color:lightgray;
}

/* IMG:HOVER PLAY  */
.img-cont{
  position:relative;
}

.hidden{
  color: lightgray;
  display:none;
  position:absolute;
  z-index:5;
  top:50%;
  left:50%;
  transform:translate(-50% , -50%);
}


.play-bar i:hover{
  color:white;
}

main ul li:hover i{
  display: block;
}

main ul li:hover img{
  opacity: 0.5;
}

/* LEFT NAV  */
.left-nav{
  height:calc(100vh - 96px);
}

aside ul{
  list-style: none;
}

.left-nav{
  float: left;
  width:250px;
}

.left-nav-container{
  padding-left:20px;
  padding-right:20px;

}

/* LEFT-NAV LOGO */
.left-nav-logo img{
height:50px;
margin-top:25px;
margin-bottom: 25px;
}

/* LEFT-NAV HEADER */
.left-nav-header ul li{
  display:flex;
  align-items: center;
  margin-bottom: 10px;
}

.left-nav-header img{
  height:30px;
  margin-right: 10px;
}

/* LEFT_NAV MAIN */
.left-nav-main{
  margin-top: 20px;
  border:2px solid white;
}

.left-nav-main h4:first-child{
  color:white;
}

.left-nav-create{
  margin-top:10px;
  margin-bottom:10px;
  align-items: center;
}

.nav-ul-cont{
  height:calc(100vh - 500px);
  border:2px solid green;
  overflow:auto;

}

.left-nav-main ul button{
  margin-right: 10px;
}

/* LEFT-NAV FOOTER */
.left-nav-footer{
position: fixed;
bottom:0;
background-color: black;
bottom:100px;
width:210px;
padding-top: 15px;
}

.left-nav-footer .profile{
  align-items: center;
}

.left-nav-footer .download-app{
  align-items: center;
}

.left-nav-footer .download-app img{
  height:15px;
}

/* LEFT-NAV-XS */
.left-nav-xs{
  border:1px solid red;
  display:none;
  float:left;
  width:75px;
  height:calc(100vh - 96px);
}

.left-nav-xs-container{
  padding-left: 20px;
  padding-right:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LEFT-NAV-XS LOGO */
.left-nav-xs .logo{
  height:50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* LEFT-NAV-XS MAIN */
.left-nav-xs ul li{
  list-style: none;
  width:30px;
  height:30px;
  margin-bottom: 10px;
}

/* LEFT-NAV-XS FOOTER */
.left-nav-xs-footer{
  position: fixed;
  bottom:100px;
}


/* MAIN */
.main-container{
  padding:20px;
}

/* MAIN SECTION */
.main-section{
  float:left;
  height:calc(100vh - 96px);
  width:calc(100% - 250px);
}

/* TOP-BAR */
.top-bar{
  height:100px;
  width:calc(100% - 250px);
  position: fixed;
  top: 0;
  right:0;
}

/* MAIN-NAV */
nav {
  margin-top: 100px;
  justify-content:center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

nav ul{
  border:1px solid violet;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;

}

nav ul li{
    justify-content: space-around;
    margin-right: 15px;
}

/*SECTIONS */
.main-container{
overflow: hidden;
overflow-y: scroll;
height:calc(100vh - 96px);
min-width: 450px;
}

.main-container > section{
  margin-top: 50px;
}

.recently-section,
.created-for-section,
.popular{
  margin-left: auto;
  margin-right: auto;
}

.recently-section h2,
.created-for-section h2,
.popular h2,
.recently-section > h4,
.created-for-section > h4,
.popular > h4{
  padding-left: 10px;

}

.recently-section ul,
.created-for-section ul,
.popular ul {
  text-align: center;
  list-style: none;
  margin-top:30px;
}

.recently-section ul li h3 ,
.created-for-section ul li h3,
.popular ul li h3{

  line-height: 16px;
}

.recently-section ul li,
.created-for-section ul li,
.popular ul li{
  float:left;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding-right:10px;
  padding-left:10px;
  width:calc(100%  / 6);
  min-width:150px;
  min-height: 275px;

}

.recently-section ul li img,
.created-for-section ul li img,
.popular ul li img{
  width:100%;
}

.popular ul li img{
  border-radius: 50%;
}



/* PLAY BAR */
.play-bar{
  width:100%;
  position:fixed;
  height:100px;
}

.play-bar-container{
  padding:10px;
  justify-content: space-between;
}

/* LEFT PLAYBAR */
.play-bar-left h5{
  color:white;
}

.play-bar-left{
  width:200px;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
}

.play-bar-left img{
  height:60px;
  width:60px;
}

.play-bar-left .ico-container{
  display: flex;
  min-width:50px;
  justify-content: space-around;
  align-items: center;
}

/* CENTER PLAYBAR */
.play-bar-center{
  width:40%;
  min-width:260px;
}

.play-bar-center-bottom,
.play-bar-center-top{
  height:50%;
  justify-content: center;
  align-items: center;
}

.play-bar-center-bottom{
  color:white;
  font-size: 12px;
}

.play-bar-center-bottom > [class*="flex-column"]{
  display: flex;
  justify-content: center;
}


/* RIGHT PLAYBAR */
.play-bar-right{
  width:200px;
  align-items: center;
  justify-content: space-between;
  align-content: flex-end;
}

/* Helper */
.emc2{
  position:relative;
}

.mr-10{
  margin-right: 10px;
}

.mt-10{
  margin-top: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.border{
  border:1px solid pink;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px){
  .left-nav{
    display:none;
  }

  .main-section,
  .top-bar{
    width:calc(100% - 75px);
  }

  .left-nav-xs{
    display:block;
  }

  .play-bar-left .ico-container{
    flex-direction: column;
  }

  .recently-section ul li,
  .created-for-section ul li,
  .popular ul li{
    width:calc(100%  / 2);
  }

}

@media screen and (min-width:769) and (max-width: 991px){

  .recently-section ul li,
  .created-for-section ul li,
  .popular ul li{
    width:calc(100%  / 3);
  }

}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .recently-section ul li,
  .created-for-section ul li,
  .popular ul li{
    width:calc(100%  / 4);

  }

}

@media screen and (min-width: 1200px){


}
